<p>Name: <%= @user.name %></p>
  <p><%if @user.admin%>
    <%= 'ADMIN' %>
    <p><%else%>
      <p>Tickets: <%= @user.tickets %></p>
      <p>Height: <%= @user.height %></p>
      <p>Mood: <%= @user.mood %></p>
  <%end%></p>

<p><%= link_to 'Edit', users_edit_path(@user) %></p>

<p><%= link_to 'See attractions', attractions_path %></p>

<p><%= link_to 'Log Out', '/signout' %></p>
